<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BuyBye</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<!--navbar-->
    <nav class="navbar">
        <div class="navbar-center">
            <a href="index.html"><button class="startknap logo">BuyBye</button></a>

            
        
                <div class="annonce_knap">
                    <a id="annonce_header" href="/opretAnnonce"><button>opret annonce</button></a>
                </div>
        
        
                <div class="dinProfil_knap">
                    <a id="profil_header" href="/profil"><button>Din Profil</button></a>
                </div>
        
     </div>
    </nav>
<!--end of navbar-->

<!--frontpage-->
<header class="frontPage">
    <div class="Banner">
        <h1 class=BannerTitle>Shop efter kategori</h1>
        <a href="/seBukserAnnoncer"><button>Bukser</button></a>
        <a href="/seJacketsAnnoncer"><button>Jackets</button></a>
        <a href="/ShopEfterKategori/Shirts.html"><button>Shirts</button></a>
        <a href="/ShopEfterKategori/Shoes.html"><button>Shoes</button></a>
    </div>

</header>
<!--end of frontpage-->

<!--for nylig tilføjet-->

<section class="produkter ">
    <div class=sectionTitle>
        <h1>Tilføjede annoncer:</h1>
        <div id="produkter-center"></div>
    </div>
    
</section>

<!--end of for nylig tilføjet-->

    <script src="index.js"></script>
</body>
</html> 