<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BuyBye</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<!--navbar-->
    <nav class="navbar">
        <div class="navbar-center">
            <a href="index.html"><button class="startknap logo">BuyBye</button></a>

        
                <div class= "menu">
        <input type="search" id="menu_input">shgksghkj søgefelts</div>
            
        
                <div class="annonce_knap">
                    <a href="annonce.html"><button>opret annonce</button></a>
                </div>
        
        
                <div class="dinProfil_knap">
                    <a id="profil_header" href="/profil"><button>Din Profil</button></a>
                </div>
        
     </div>
    </nav>
<!--end of navbar-->

<!--frontpage-->
<header class="frontPage">
    <div class="Banner">
        <h1 class=BannerTitle>Shop efter kategori</h1>
        <a href="/ShopEfterKategori/Bukser.html"><button>Bukser</button></a>
        <a href="/ShopEfterKategori/Jaackets.html"><button>Jackets</button></a>
        <a href="/ShopEfterKategori/Shirts.html"><button>Shirts</button></a>
        <a href="/ShopEfterKategori/Shoes.html"><button>Shoes</button></a>
    </div>

</header>
<!--end of frontpage-->

<!--for nylig tilføjet-->

<section class="produkter ">
    <div class=sectionTitle>
        <h2>For nylig tilføjet</h2>
    </div>
    <div class="produkter-center">

        <article class="produkt1">
            <button onclick="ClickProdukt1Fn()" class="img-container">
                <img src="./../billeder/nikesko.png" 
                alt="produkt1"
                class= produkt1-img
                width="300"
                />
<h3>Nike sko</h3>
            </button>
            

        </article>

        <article class="produkt1">
            <div class=img-container>
                <img src="./../billeder/nikesko.png" 
                alt="produkt1"
                class= produkt1-img
                width="300"
                />
                <button id= "produkt1button">500 kr</button>
            </div>
            <h3>Nike sko</h3>

        </article>

        <article class="produkt1">
            <div class=img-container>
                <img src="./../billeder/nikesko.png" 
                alt="produkt1"
                class= produkt1-img
                width="300"
                />
            </div>
            <h3>Nike sko</h3>

        </article>

        <article class="produkt1">
            <div class=img-container>
                <img src="./../billeder/nikesko.png" 
                alt="produkt1"
                class= produkt1-img
                width="300"
                />
            </div>
            <h3>Nike sko</h3>
        </article>

    </div>
</section>

<!--end of  for nylig tilføjet-->

    <script src="./../index.js"></script>
</body>
</html> 