<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <!--navbar-->
    <nav class="navbar">
        <div class="navbar-center">
            <a href="login.html"><button class="startknap logo">BuyBye</button></a>
        
     </div>
    </nav>

    <h1 class="velkommen"></h1>

<!--end of navbar-->

    <input placeholder="Email" id="email">
    <input placeholder="kodeord" type = "password" id="kodeord">
    <button id="login">login</button>

    <div class="registrer_knap">
        <a href="/opret">opret bruger</a>
    </div>
    
    <h1 id="fejlmeddelelse"></h1>

    <script src="login.js"></script>
</body>
</html>