<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Opdater Annonce</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <!--navbar-->
    <nav class="navbar">
        <div class="navbar-center">
            <a href="/"><button class="startknap logo">BuyBye</button></a>
            
        
                <div class="annonce_knap">
                    <a id="annonce_header" href="/opretAnnonce"><button>opret annonce</button></a>
                </div>
        
        
                <div class="dinProfil_knap">
                    <a id="profil_header" href="/profil"><button>Din Profil</button></a>
                </div>
        
     </div>
    </nav>
<!--end of navbar-->        
    <h1>Ønsker du at opdatere din bruger?</h1>
    <input placeholder="kodeord" type = "password" id="nyKodeord">
    <button id="submitNyKodeord">opdater dit kodeord</button>


    <h1>Ønsker du at slette din bruger?</h1>
    <button id="sletBruger">slet din profil</button>

    <h1>Dine annoncer:</h1>
    <div id="mineAnnoncer">

    </div>



    <h1 id="fejlmeddelelse"></h1>

    <script src="opdaterAnnonce.js"></script>
</body>
</html>