<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="opret.js"></script>
</head>
<body>
 
    <h1>Registrer</h1>
<form>
    <input placeholder="Email" type="email" id="email">
    <input placeholder="kodeord" type = "password" id="kodeord">
    <input placeholder="navn" type="text" id="navn">
    <button id="submit">Register</button>
</form>

<h1 id="fejlmeddelelse"></h1>
    
    
</body>
</html>