<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Annonce</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
     <!--navbar-->
     <nav class="navbar">
        <div class="navbar-center">
            <a href="/"><button class="startknap logo">BuyBye</button></a>

        
                <div class="annonce_knap">
                    <a href="/annonce"><button>opret annonce</button></a>
                </div>
        
        
                <div class="dinProfil_knap">
                    <a id="profil_header" href="/profil"><button>Din Profil</button></a>
                </div>
        
     </div>
    </nav>
<!--end of navbar-->      
        
    <h1>Her ser du annoncer i kategorien: Trøjer</h1>
    <div id="seShirtsAnnoncer"></div>

    <h1 id="fejlmeddelelse"></h1>

<script src="shirts.js"></script>
</body>
</html>